---
import Button from '../components/Button.astro';

const { img="", imgtekst="", titel="",  mulighed1="", mulighed2="", mulighed3="", mulighed4="", tekst="" } = Astro.props;
---

<section class="grid grid-cols-2">
<div>
    <h2>{titel}</h2>
    <p>{tekst}</p>
    <ul class="list bg-base-100 rounded-box shadow-md">

        
        <li class="list-row grid grid-cols-2">
          <div>
            <div>{mulighed1}</div>
          </div>
          <div> 
            <input type="radio" name="radio-1" class="radio" />
            </div>
        </li>
        
        <li class="list-row grid grid-cols-2">
            <div>
            <div>{mulighed2}</div>
          </div>
          <div> 
            <input type="radio" name="radio-1" class="radio" />
            </div>
        </li>
        
        <li class="list-row grid grid-cols-2">
            <div>
            <div>{mulighed3}</div>
          </div>
          <div> 
            <input type="radio" name="radio-1" class="radio" />
            </div>
        </li>

        <li class="list-row grid grid-cols-2">
            <div>
            <div>{mulighed4}</div>
          </div>
          <div> 
            <input type="radio" name="radio-1" class="radio" />
            </div>
        </li>
        
      </ul>
      <section class="grid grid-cols-2 gap-8">
        <div>
      <Button>Tilbage</Button>
    </div>
    <div>
      <Button>Næste</Button>
    </div>
    </section>
</div>
<div>
    <img
    src={img}
    alt={imgtekst} />
</div>
</section>