---
import Link from '../components/Link.astro';

const {  img="", imgtekst="", titel="",  mulighed1="", mulighed2="", mulighed3="", mulighed4="", tekst="", url1="", url2="", urlbuttontekst1="", urlbuttontekst2="" } = Astro.props;

---

<section class="grid grid-cols-2 pb-7">
<div class="">
    <h2 class="font-unbounded text-4xl text-beige pb-4">{titel}</h2>
    <p class="font-brico text-xl text-beige pb-4">{tekst}</p>
    <ul class="list  rounded-box">

        
        <li class="list-row grid grid-cols-2 pt-15 ">
          <div>
            <div class="font-brico text-xl text-beige">{mulighed1}</div>
          </div>
          <div> 
            <input type="radio" name="radio-1" class="radio" />
            </div>
        </li>
        <li class="list-row grid grid-cols-2">
            <div>
            <div class="font-brico text-xl text-beige">{mulighed2}</div>
          </div>
          <div> 
            <input type="radio" name="radio-1" class="radio" />
            </div>
            
        </li>
        
        <li class="list-row grid grid-cols-2">
            <div>
            <div class="font-brico text-xl text-beige">{mulighed3}</div>
          </div>
          <div> 
            <input type="radio" name="radio-1" class="radio" />
            </div>
        </li>

        <li class="list-row grid grid-cols-2">
            <div>
            <div class="font-brico text-xl text-beige">{mulighed4}</div>
          </div>
          <div> 
            <input type="radio" name="radio-1" class="radio" />
            </div>
        </li>
        
      </ul>
      <section class="grid grid-cols-2 gap-8 pt-25">
        <div>
          <Link href={url1} variant="tertiary" size="medium">{urlbuttontekst1}</Link>
    </div>
    <div>
      <Link href={url2} variant="secondary" size="medium">{urlbuttontekst2}</Link>
    </div>
    </section>
</div>
<div>
    <img class="width-1/3"
    src={img}
    alt={imgtekst} />
</div>
</section>