---
import Link from '../components/Link.astro';

const {  img="", imgtekst="", titel="",  mulighed1="", mulighed2="", mulighed3="", mulighed4="", tekst="", url="", urlbuttontekst1="", urlbuttontekst2="" } = Astro.props;

//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige varianter 
const variantClasses = {
"primary": "btn-primary",
"secondary": "btn-secondary"
};
---

<section class="grid grid-cols-2">
    <div>
        <img
        src={img}
        alt={imgtekst} />
    </div>
<div>
    <h2>{titel}</h2>
    <p>{tekst}</p>
    <ul class="list bg-base-100 rounded-box shadow-md">

        
        <li class="list-row grid grid-cols-2">
          <div>
            <div>{mulighed1}</div>
          </div>
          <div> 
            <input type="radio" name="radio-1" class="radio" />
            </div>
        </li>
        
        <li class="list-row grid grid-cols-2">
            <div>
            <div>{mulighed2}</div>
          </div>
          <div> 
            <input type="radio" name="radio-1" class="radio" />
            </div>
        </li>
        
        <li class="list-row grid grid-cols-2">
            <div>
            <div>{mulighed3}</div>
          </div>
          <div> 
            <input type="radio" name="radio-1" class="radio" />
            </div>
        </li>

        <li class="list-row grid grid-cols-2">
            <div>
            <div>{mulighed4}</div>
          </div>
          <div> 
            <input type="radio" name="radio-1" class="radio" />
            </div>
        </li>
        
      </ul>
      <section class="grid grid-cols-2 gap-8">
        <div>
          <Link href={url} variant="primary" size="medium">{urlbuttontekst1}</Link>
    </div>
    <div>
      <Link href={url} variant="primary" size="medium">{urlbuttontekst2}</Link>
    </div>
    </section>
</div>

</section>