---
import Link from '../components/Link.astro';

const {  img="", imgtekst="", titel="",  mulighed1="", mulighed2="", mulighed3="", mulighed4="", tekst="", url1="", url2="", urlbuttontekst1="", urlbuttontekst2="" } = Astro.props;

---

<section class="grid grid-cols-2">
<div class="pt-15">
    <h2>{titel}</h2>
    <p>{tekst}</p>
    <ul class="list bg-base-100 rounded-box">

        
        <li class="list-row grid grid-cols-2 pt-15">
          <div>
            <div>{mulighed1}</div>
          </div>
          <div> 
            <input type="radio" name="radio-1" class="radio" />
            </div>
        </li>
        
        <li class="list-row grid grid-cols-2">
            <div>
            <div>{mulighed2}</div>
          </div>
          <div> 
            <input type="radio" name="radio-1" class="radio" />
            </div>
        </li>
        
        <li class="list-row grid grid-cols-2">
            <div>
            <div>{mulighed3}</div>
          </div>
          <div> 
            <input type="radio" name="radio-1" class="radio" />
            </div>
        </li>

        <li class="list-row grid grid-cols-2">
            <div>
            <div>{mulighed4}</div>
          </div>
          <div> 
            <input type="radio" name="radio-1" class="radio" />
            </div>
        </li>
        
      </ul>
      <section class="grid grid-cols-2 gap-8 pt-15">
        <div>
          <Link href={url1} variant="primary" size="medium">{urlbuttontekst1}</Link>
    </div>
    <div>
      <Link href={url2} variant="primary" size="medium">{urlbuttontekst2}</Link>
    </div>
    </section>
</div>
<div>
    <img class="width-1/2"
    src={img}
    alt={imgtekst} />
</div>
</section>